.container {
    display: grid;
    grid-auto-flow: column dense;
    width: 400px;
    height: 400px;
    background-color: blue;
    
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }


  .squares {
    background-color: red;
    border: 1px solid black;
  }